@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.movie-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/orange-color-bg.png");
    background-size: cover;
    padding: 24px;
}

.movie-heading-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.heading {
    font-family: "Roboto";
    font-size: 28px;
    color: #ffffff;
    font-weight: bold;
}

.button {
    font-family: "Roboto";
    background: #fff;
    font-size: 12px;
    color: #ff8348;
    font-weight: 500;
    border-radius: 8px;
    height: 38px;
    width: 98px;
    border-width: 0px;
}

.paragraph {
    font-family: "Roboto";
    font-size: 12px;
    color: #ffffff;
}

.sub-heading {
    font-family: "Roboto";
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

.image-name {
    margin-left: 5px;
    margin-right: 5px;
}