@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.cricketerpage-top-section {
    background-color: #fb4e71;
    background-size: cover;
    padding: 15px;
}

.top-heading {
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
}

.top-paragraph {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 100;
    color: #ffffff;

}

.cricketer-page-bottom-section {
    background-color: #e6f6ff;
    padding: 8px;
}

.sub-title {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.card1 {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
}

.text-container {
    padding: 15px;
}

.card1-heading {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: bold;
}

.card1-paragraph {
    color: #888888;
    font-family: "Roboto";
    font-size: 14px;

}

.videos-text-container {
    width: 100px;
    margin: 10px;
}

.description {
    font-family: "Roboto";
    font-size: 14px;
}